<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dongfan.dongfanapi.mapper.TikuXiyiChapterMapper">
    <resultMap id="BaseResultMap" type="com.dongfan.dongfanapi.entity.TikuXiyiChapter">
        <constructor>
            <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="chapter_parent_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="title" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="sort" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        id, chapter_parent_id, title, sort
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tiku_xiyi_chapter
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from tiku_xiyi_chapter
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.dongfan.dongfanapi.entity.TikuXiyiChapter">
        insert into tiku_xiyi_chapter (id, chapter_parent_id,
        title, sort)
        values (#{id,jdbcType=INTEGER}, #{chapterId,jdbcType=INTEGER}, #{chapterParentId,jdbcType=INTEGER},
        #{title,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.dongfan.dongfanapi.entity.TikuXiyiChapter">
        insert into tiku_xiyi_chapter
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>

            <if test="chapterParentId != null">
                chapter_parent_id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="sort != null">
                sort,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>

            <if test="chapterParentId != null">
                #{chapterParentId,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.dongfan.dongfanapi.entity.TikuXiyiChapter">
        update tiku_xiyi_chapter
        <set>

            <if test="chapterParentId != null">
                chapter_parent_id = #{chapterParentId,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.dongfan.dongfanapi.entity.TikuXiyiChapter">
        update tiku_xiyi_chapter
        chapter_parent_id = #{chapterParentId,jdbcType=INTEGER},
        title = #{title,jdbcType=VARCHAR},
        sort = #{sort,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>