<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dongfan.dongfanapi.mapper.TikuXiyiInfoMapper">
    <resultMap id="BaseResultMap" type="com.dongfan.dongfanapi.entity.TikuXiyiInfo">
        <constructor>
            <arg column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="question_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="chapter_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="chapter_parent_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="title" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="title_img" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="s_num" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="number" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="year" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="question_type" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="number_number" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="syllabus" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="explain_img" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="type" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="answer" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="media_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="media_url" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="media_img" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="is_high_test" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="chapter_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.dongfan.dongfanapi.entity.TikuXiyiInfoWithBLOBs">
        <constructor>
            <arg column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="question_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="chapter_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="chapter_parent_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="title" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="title_img" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="s_num" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="number" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="year" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="question_type" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="number_number" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="syllabus" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="explain_img" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="type" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="answer" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="media_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="media_url" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="media_img" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="is_high_test" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="chapter_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="restore" javaType="java.lang.String" jdbcType="LONGVARCHAR"/>
            <arg column="recovery" javaType="java.lang.String" jdbcType="LONGVARCHAR"/>
            <arg column="explain" javaType="java.lang.String" jdbcType="LONGVARCHAR"/>
            <arg column="option" javaType="java.lang.String" jdbcType="LONGVARCHAR"/>
            <arg column="restoren" javaType="java.lang.String" jdbcType="LONGVARCHAR"/>
            <arg column="explainn" javaType="java.lang.String" jdbcType="LONGVARCHAR"/>
        </constructor>
    </resultMap>
    <sql id="Blob_Column_List">
        restore, recovery, explain, option, restoren, explainn
    </sql>
    <insert id="insert" parameterType="com.dongfan.dongfanapi.entity.TikuXiyiInfoWithBLOBs">
        insert into tiku_xiyi_info (id, question_id, chapter_id,
        chapter_parent_id, title, title_img,
        s_num, number, year,
        question_type, number_number, syllabus,
        explain_img, type, answer,
        media_id, media_url, media_img,
        is_high_test, chapter_name, restore,
        recovery, explain, option,
        restoren, explainn)
        values (#{id,jdbcType=INTEGER}, #{questionId,jdbcType=INTEGER}, #{chapterId,jdbcType=INTEGER},
        #{chapterParentId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{titleImg,jdbcType=VARCHAR},
        #{sNum,jdbcType=INTEGER}, #{number,jdbcType=VARCHAR}, #{year,jdbcType=VARCHAR},
        #{questionType,jdbcType=VARCHAR}, #{numberNumber,jdbcType=VARCHAR}, #{syllabus,jdbcType=VARCHAR},
        #{explainImg,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{answer,jdbcType=VARCHAR},
        #{mediaId,jdbcType=INTEGER}, #{mediaUrl,jdbcType=VARCHAR}, #{mediaImg,jdbcType=VARCHAR},
        #{isHighTest,jdbcType=INTEGER}, #{chapterName,jdbcType=VARCHAR}, #{restore,jdbcType=LONGVARCHAR},
        #{recovery,jdbcType=LONGVARCHAR}, #{explain,jdbcType=LONGVARCHAR}, #{option,jdbcType=LONGVARCHAR},
        #{restoren,jdbcType=LONGVARCHAR}, #{explainn,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.dongfan.dongfanapi.entity.TikuXiyiInfoWithBLOBs">
        insert into tiku_xiyi_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="questionId != null">
                question_id,
            </if>
            <if test="chapterId != null">
                chapter_id,
            </if>
            <if test="chapterParentId != null">
                chapter_parent_id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="titleImg != null">
                title_img,
            </if>
            <if test="sNum != null">
                s_num,
            </if>
            <if test="number != null">
                number,
            </if>
            <if test="year != null">
                year,
            </if>
            <if test="questionType != null">
                question_type,
            </if>
            <if test="numberNumber != null">
                number_number,
            </if>
            <if test="syllabus != null">
                syllabus,
            </if>
            <if test="explainImg != null">
                explain_img,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="answer != null">
                answer,
            </if>
            <if test="mediaId != null">
                media_id,
            </if>
            <if test="mediaUrl != null">
                media_url,
            </if>
            <if test="mediaImg != null">
                media_img,
            </if>
            <if test="isHighTest != null">
                is_high_test,
            </if>
            <if test="chapterName != null">
                chapter_name,
            </if>
            <if test="restore != null">
                restore,
            </if>
            <if test="recovery != null">
                recovery,
            </if>
            <if test="explain != null">
                explain,
            </if>
            <if test="option != null">
                option,
            </if>
            <if test="restoren != null">
                restoren,
            </if>
            <if test="explainn != null">
                explainn,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="questionId != null">
                #{questionId,jdbcType=INTEGER},
            </if>
            <if test="chapterId != null">
                #{chapterId,jdbcType=INTEGER},
            </if>
            <if test="chapterParentId != null">
                #{chapterParentId,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="titleImg != null">
                #{titleImg,jdbcType=VARCHAR},
            </if>
            <if test="sNum != null">
                #{sNum,jdbcType=INTEGER},
            </if>
            <if test="number != null">
                #{number,jdbcType=VARCHAR},
            </if>
            <if test="year != null">
                #{year,jdbcType=VARCHAR},
            </if>
            <if test="questionType != null">
                #{questionType,jdbcType=VARCHAR},
            </if>
            <if test="numberNumber != null">
                #{numberNumber,jdbcType=VARCHAR},
            </if>
            <if test="syllabus != null">
                #{syllabus,jdbcType=VARCHAR},
            </if>
            <if test="explainImg != null">
                #{explainImg,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="answer != null">
                #{answer,jdbcType=VARCHAR},
            </if>
            <if test="mediaId != null">
                #{mediaId,jdbcType=INTEGER},
            </if>
            <if test="mediaUrl != null">
                #{mediaUrl,jdbcType=VARCHAR},
            </if>
            <if test="mediaImg != null">
                #{mediaImg,jdbcType=VARCHAR},
            </if>
            <if test="isHighTest != null">
                #{isHighTest,jdbcType=INTEGER},
            </if>
            <if test="chapterName != null">
                #{chapterName,jdbcType=VARCHAR},
            </if>
            <if test="restore != null">
                #{restore,jdbcType=LONGVARCHAR},
            </if>
            <if test="recovery != null">
                #{recovery,jdbcType=LONGVARCHAR},
            </if>
            <if test="explain != null">
                #{explain,jdbcType=LONGVARCHAR},
            </if>
            <if test="option != null">
                #{option,jdbcType=LONGVARCHAR},
            </if>
            <if test="restoren != null">
                #{restoren,jdbcType=LONGVARCHAR},
            </if>
            <if test="explainn != null">
                #{explainn,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
</mapper>